.violation
  .top
    .photo
      =link_to "#" do
        = image_tag @violation.image_url
    .params
      %h2.description= @violation.description
      .buttons.rating-js
        =link_to "Наказать", api_violation_rates_path(@violation), class: "judge btn btn-big btn-danger "
        =link_to "Оправдать", api_violation_rates_path(@violation), class: "acquit btn btn-big btn-success"

  .bottom
    %h2.number= @violation.car.try(:number) || "Нет номера"
    .address= @violation.address

  .comments
    .add-comment
      %form{id: 'comment', action: violation_comments_path(@violation), method: :POST}
        %label= 'Текст сообщения'
        %textarea{class:'text', name: 'text', cols: 20, rows: 2}
        %a.send.btn
          Отправить
    .comments-list
      - @violation.comments.each do |comment|
        =render partial: 'comments/item', locals: {comment: comment}